/* latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/ibm-plex-mono/300.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/ibm-plex-mono/600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    font-family: "IBM Plex Mono";
    font-weight: 300;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 1em;
}

pre, code, button{
    font-family: "IBM Plex Mono";
}

button{
    background-color: blue;
    color: #f8f8f2;
    border: 1px solid #f8f8f2;
    border-radius: 0.333em;
    padding: 0.666em;
    cursor: pointer;

}

h2{
    margin-bottom: 1em;
}

h3{
    font-weight: 300;
}

h5{
    margin: 0.5em 0;
}

.container{
    /* display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.container > .cell{
    flex: 1 0 calc(50% - 1em);
    cursor: pointer;
    overflow: hidden;
    max-height: 300px;
}

@media screen and (max-width: 600px){
    .container > .cell{
        flex: 1 0 100%;
    }
}

.cell pre[class*=language-]{
    font-size: 50%;
    filter: blur(1px);
}

.cell.active{
    position: fixed;
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
    z-index: 10;
    height: calc(100% - 2em);
    background: #fff;
    z-index: 10;
    overflow: auto;
    max-height: none;
}

.cell.active:before{
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
}

.cell.active pre[class*=language-]{
    font-size: 100%;
    filter: blur(0);
}

html:has(.cell.active){
    overflow: hidden;
}

.cell h2{
    margin-top: 0;
}

/* PRISM.CSS */
code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0 0;text-shadow:0 1px rgba(0,0,0,.3);font-family:"IBM Plex Mono";font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}.token.punctuation{color:#f8f8f2}.token.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#f92672}.token.boolean,.token.number{color:#ae81ff}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#a6e22e}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f8f8f2}.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#e6db74}.token.keyword{color:#66d9ef}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}


pre[class*=language-]{
    margin: 0;
}